<div class="background">
  <app-nav-bar></app-nav-bar>

    <div class="card">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio"  name="Deposit" value="deposit" [(ngModel)]="selectedOption">
          <span class="name">Deposit</span>
        </label>
        <label class="radio">
          <input type="radio"  name="Loan" value="loan" [(ngModel)]="selectedOption">
          <span class="name">Loan</span>
        </label>

        <label class="radio">
              <input type="radio"  name="GL" value="generalledger" [(ngModel)]="selectedOption">
          <span class="name">GL</span>
        </label>
      </div>
      <div class="btn-container">
        <div class="btn-wrapper">
          <button *ngIf="selectedOption" class="card-btn" (click)="eventTable()">
            <span> View</span>
          </button>
        </div>
        <div class="btn-wrapper">
          <button class="card-btn"  (click)="populateTable()">
            <span> All Events</span>
          </button>
        </div>
      </div>
    </div>
    <div class="table-wrapper" *ngIf="showEvent">

      <input
        class="input"
        type="number"
        [(ngModel)]="searchNumber"
        (input)="filterData()"
        placeholder="Enter a Event Code to search"
      />
      <table class="tableFixHead" id="EventTable">
        <thead>
          <tr>
            <th>Select</th>
            <th>petEventCode</th>
            <th>petEventDesc</th>
            <th>systemGenerated</th>
            <th>Update Events</th>
            <th>Generate Script</th>
            <th><i class="fas fa-trash" (click)="delMultipleEvents(selectedItems)"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData; let i = index">
            <td>
              <input
                type="checkbox"
                name="selected{{ item }}"
                [(ngModel)]="item.selected"
                (change)="updateSelectedRows(item)"
              />
            </td>
           <td> {{item.eventId.petEventCode }}  </td>
           <td> {{ item.petEventDesc }} </td>
           <td> {{ item.systemGenerated }} </td>
           <td>
            <i  class="far fa-edit"  [disabled]="!item.selected"  (click)="editEvent(item)" >

            </i>
         </td>
           <td>
                <i class="fas fa-redo"[disabled]="!item.selected" (click)="genScript(item)">

                </i>
           </td>
           <td>
              <i  class="far fa-trash-alt" [disabled]="!item.selected" (click)="delEvent(item)">

              </i>
           </td>
          </tr>
        </tbody>
      </table>
    </div>




  <div class="container" *ngIf=" showEvent " [class.popup-form]="showEditPopup">
    <button class="close-button" *ngIf="showEditPopup" (click)="closePopup()">X</button>
      <h2 class="text">
          Add Record
      </h2>
      <form [formGroup]="eventForm" (ngSubmit)="submitForm(eventForm)">
        <div class="form-row">
          <div class="input-data">
            <label for="petEventCode">petEventCode:</label>
            <input type="number" id="petEventCode" name="petEventCode" [readonly]="updateBtn" formControlName="petEventCode">
          </div>
          <div class="input-data">
            <label for="petEventDesc">petEventDesc:</label>
            <input type="string" id="petEventDesc" name="item.petEventDesc"  formControlName="petEventDesc">
          </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <label for="systemGenerated">systemGenerated:</label>
              <input type="number" name="systemGenerated" formControlName="systemGenerated" maxlength="1">
            </div>
            <div class="input-data">

            </div>
      </div>
      <div class="form-row submit-btn">
        <button class="card-btn" type="submit" *ngIf="hideBtn">Submit
        </button>

        <button class="card-btn" *ngIf="updateBtn" (click)="updateEvent($event,eventForm)">
          Update
        </button>
      </div>
    </form>
  </div>


  <!-- Table For All Events  -->

  <div class="alltable" *ngIf="allEventsTable">
          <input
              type="number"
              [(ngModel)]="filterationNumber"
                (input)="filteration()"
                placeholder="Enter a Event Code to search"
          />
    <table class="table" >
        <thead>
           <tr>
              <th>petEventCode</th>
              <th>petEventDesc</th>
              <th>systemGenerated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataFilteration; let i = index">
               <td> {{item.eventId.petEventCode }}  </td>
               <td> {{ item.petEventDesc }} </td>
               <td> {{ item.systemGenerated }} </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>





