<div class="background">
  <app-nav-bar></app-nav-bar>
    <div class="btn-card">
      <button class="btn" (click)="showFilter = true " >
        <span> Release Version </span>
      </button>
      <button class="btn" (click)="showCard = true ">
        <span> Register Version </span>
      </button>
    </div>
    <div class="card" *ngIf="showCard">
      <h2>Select Option</h2>
      <div class="radio-inputs">
        <input type="radio"  name="Script" value="script" [(ngModel)]="selectedOption">
        <label for="html">Script</label>
        <input type="radio"  name="Store Procedure" value="s_procedure" [(ngModel)]="selectedOption">
        <label for="css">Store Procedure</label>
      </div>
      <div  *ngIf="selectedOption">
        <input list="versions" name="versions" [(ngModel)]="selectedVersion" >
    <datalist id="versions">
      <option *ngFor="let item of versions" [value]="item.releaseVersion" >{{ item.releaseVersion }}</option>
    </datalist>
        <button  (click)="regVersion()">Save</button>
      </div>
    </div>
    <div class="card" *ngIf="showFilter">
      <h2>Search Version</h2>
      <input list="versions" name="versions" [(ngModel)]="selectedVersion" >
  <datalist id="versions">
    <option *ngFor="let item of versions" [value]="item.releaseVersion" >{{ item.releaseVersion }}</option>
  </datalist>
  <button (click)="filterData()">Search</button>
  <button  (click)="releaseTable()">Release Version</button>
    </div>
    <div class="form-container" *ngIf="showForm" >

      <form [formGroup]="releaseForm" (ngSubmit)="submitForm(releaseForm)">
        <div class="form-row">
          <label for="type">Release Type </label>
          <input id="type" type="text" formControlName="type" readonly>
        </div>
        <div class="form-row">
          <label for="selected-version-value">Selected Version :</label>
          <input id="selected-version-value" type="string"formControlName="selectedVersion" readonly>
        </div>
        <div class="form-row">
          <label for="userId">User Id :</label>
          <input id="userId" type="text"formControlName="userId" maxlength="30">
        </div>
        <div class="form-row">
          <label for="date">Date :</label>
          <input id="date" type="date"formControlName="date" maxlength="30">
         </div>
         <div class="form-row" >
          <label for="file-input">Upload File:</label>
          <input type="file" [formControl]="fileCtrl" multiple id="fileInput" name="fileInput" accept="application/txt, application/sql" (change)="onFileUpload($event)">
        </div>
          <button type="submit" > </button>

      </form>
    </div>
    <div class="table-wrapper" *ngIf="showTable">
      <table class="tableFixHead" *ngIf="isFilterData" >
        <thead>
           <tr >
              <th>versions</th>
              <th>User ID</th>
              <th>Date</th>
              <th>Release Type </th>
              <th>File</th>
              <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of newData; let i = index">
               <td> {{item.releaseVersion }}  </td>
               <td> {{ item.userName }} </td>
               <td> {{item.date}} </td>
               <td> {{ item.type }} </td>
               <td>
                <div *ngFor="let child of item.childDto">
                  <p>{{ child.fileName }}</p>
                </div>
              </td>
               <td>
                <i
                  class="fa fa-download"
                  [disabled]="!item.selected"
                  (click)="download(item)"
                ></i>
              </td>
            </tr>
        </tbody>
    </table>
    <table class="tableFixHead"  *ngIf="!isFilterData">
      <thead>
         <tr >
            <th>versions</th>
            <th>User ID</th>
            <th>Date</th>
            <th>Release Type </th>
            <th>File</th>
            <th>Download</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of releaseData; let i = index">
             <td> {{item.releaseVersion }}  </td>
             <td> {{ item.userName }} </td>
             <td> {{item.date}} </td>
             <td> {{ item.type }} </td>
             <td>
              <div *ngFor="let child of item.childDto">
                <p>{{ child.fileName }}</p>
              </div>
            </td>
             <td>
              <i
                class="fa fa-download"
                [disabled]="!item.selected"
                (click)="download(item)"
              ></i>
            </td>
          </tr>
      </tbody>
  </table>

</div>







