.background {
  position: absolute;
  width:100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #FFEFBA, #ffffff);
  opacity: 1;
}

.card {
  display: flex;
  margin:2% auto;
  height:50%;
  flex-direction: column;
  width: 500px;
  background: #dadbe0;
  border-radius: 6px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  align-items: center;
  backdrop-filter: saturate(10px) ;
  transition: 0.3s ease-in-out;
}

.card:hover {
cursor: pointer;
transform: scale(1.05);
}

.img {
width: 50px;
height: 40px;
margin-left: 10px;
border-radius: 10px;
background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
transition: 0.5s ease-in-out;
background: linear-gradient(#9198e5, #712020);
}
.btn-card{
  display: flex;
  margin:4% auto;
  height:40%;
  flex-direction: row;
  width: 500px;
}

.btn {
  margin: 2%  5%;
  padding: 1.0em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.0px;
  font-weight: bold;
  padding: auto;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #072d66;
  box-shadow: 0px 15px 20px rgba(20, 103, 211, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

.table-wrapper{

  border-collapse: collapse;
  border:outset;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  margin: 5% auto;
  max-height:500px;
  max-width: 700px;
  overflow-x: auto;
  overflow-y: auto;
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0px;
}
.tableFixHead {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: #eee;
}
th {
  background: #375364;
  color:white;
}

.form-container {
  margin: 3% auto;
  width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-row input[type="text"],
.form-row input[type="string"],
.form-row input[type="date"],
.form-row input[type="file"] {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.form-container label {
  font-weight: bold;
  margin-right: 10px;
}

.form-container button {
  display: block;
  margin:10px auto;
  background-color: #007bff;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 120px;
  height:40px;
}

.form-container button:hover {
  background-color: #0056b3;
}
