<div class="background">
  <app-nav-bar></app-nav-bar>
    <div class="card">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio"  name="Deposit" value="deposit" [(ngModel)]="selectedOption">
          <span class="name">Deposit</span>
        </label>
        <label class="radio">
          <input type="radio"  name="Loan" value="loan" [(ngModel)]="selectedOption">
          <span class="name">Loan</span>
        </label>
      </div>
      <div class="btn-container">
        <button class="card-btn" *ngIf="selectedOption" (click)="chargesTable()">
          <span> View  </span>
        </button>
        <button class="card-btn" (click)="populateTable()">
          <span>All </span>
        </button>
      </div>
    </div>




  <div class="table-wrapper" *ngIf="showTable" >
        <input
        type="varchar"
        [(ngModel)]="searchNumber"
        (input)="filterData()"
        placeholder="Enter a chrgcode to search"
      />
    <table class="tableFixHead">
          <thead>
            <tr>
              <th>Select</th>
              <th>pchChrgCode</th>
              <th>porOrgaCode</th>
              <th>pchChrgDesc</th>
              <th>pchChrgShort</th>
              <th>pelElmtCode</th>
              <th>ptrTranCode</th>
              <th *ngIf="selectedOption !== 'loan'">pchChrgProfit</th>
              <th *ngIf="selectedOption !== 'deposit'">pchChrgInterest</th>
              <th *ngIf="selectedOption !== 'deposit'">pchChrgPrincipal</th>
              <th *ngIf="selectedOption !== 'deposit'">pchChrgPenality</th>
              <th>socCharges</th>
              <th>Generate Script</th>
              <th>Update Charge</th>
              <th><i class="fas fa-trash" (click)="delMultipleCharges(selectedRows)"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredData; let i = index">
              <td>
                <input
                  type="checkbox"
                  name="selected{{ item }}"
                  [(ngModel)]="item.selected"
                  (change)="updateSelectedRows(item)"
                />
              </td>
              <td> {{ item.chargesId.pchChrgCode }} </td>
              <td> {{item.chargesId.porOrgaCode }} </td>
              <td> {{ item.pchChrgDesc }} </td>
              <td> {{ item.pchChrgShort }} </td>
              <td> {{ item.pelElmtCode }}  </td>
              <td> {{ item.ptrTranCode }}  </td>
              <td *ngIf="selectedOption !== 'loan'"> {{item.pchChrgProfit }} </td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pchChrgInterest}}</td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pchChrgPrincipal}}</td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pchChrgPenalty}}</td>
              <td> {{ item.socCharges }} </td>
              <td>
                  <i class="fas fa-redo" [disabled]="!item.selected" (click)="genScript(item)"></i>
              </td>
              <td>
                <i class="far fa-edit" [disabled]="!item.selected" (click)="editCharge(item)" >

                </i>
              </td>

              <td><i class="far fa-trash-alt"[disabled]="!item.selected" (click)="delCharge(item)">

              </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>





                        <!--Form for Deposit charges-->



      <div class="container" *ngIf="showTable && selectedOption === 'deposit'">
        <div class="text">
          Add Record
        </div>
        <form [formGroup]="depositForm" (ngSubmit)="onDepositSubmit(depositForm)" >
            <div class="form-row">
              <div class="input-data">
                <input type="varchar" name="pchChrgCode" [readonly]="updateBtn" formControlName="pchChrgCode"  maxlength="3" />
                <div class="underline"></div>
                <label for="pchChrgCode">pchChrgCode:</label>
              </div>
              <div class="input-data">
                <input type="varchar" name="porOrgaCode" formControlName="porOrgaCode"  maxlength="10" />
                <div class="underline"></div>
                <label for="porOrgaCode">porOrgaCode:</label>
              </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                  <input  type="varchar" name="pchChrgDesc" formControlName="pchChrgDesc"  maxlength="40" />
                  <div class="underline"></div>
                  <label for="pchChrgDesc">pchChrgDesc:</label>
                </div>
                <div class="input-data">
                  <input type="varchar"  name="pchChrgShort" formControlName="pchChrgShort"   maxlength="20"  />
                  <div class="underline"></div>
                  <label for="pchChrgShort">pchChrgShort:</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                  <input  type="varchar" name="pelElmtCode" formControlName="pelElmtCode"   maxlength="10" />
                  <div class="underline"></div>
                  <label for="pelElmtCode">pelElmtCode:</label>
                </div>
                <div class="input-data">
                  <input type="varchar" name="ptrTranCode"  formControlName="ptrTranCode"    maxlength="3"/>
                  <div class="underline"></div>
                  <label for="ptrTranCode">ptrTranCode:</label>
                </div>
            </div>
            <div class="form-row">
              <div class="input-data">
                <input type="tinyint" name="pchChrgProfit" formControlName="pchChrgProfit"  maxlength="1" />
                <div class="underline"></div>
                <label for="pchChrgProfit">pchChrgProfit:</label>
              </div>
              <div class="input-data">
                <input type="tinyint" name="socCharges"  formControlName="socCharges"  maxlength="1" />
                <div class="underline"></div>
                <label for="socCharges">socCharges:</label>
              </div>
          </div>
          <!-- <div class="form-row">
              <div  class="input-data">
                <input type="url" name="generate{{i}}" [(ngModel)]=".generate" required >
                <div class="underline"></div>
                <label for="generate">generate:</label>
              </div>
          </div> -->
          <div class="form-row submit-btn">
            <button class="input-data" *ngIf="hideBtn">
               <div class="inner"></div>
               <input type="submit" value="submit" >
            </button>

            <button class="input-data" *ngIf="updateBtn">
              <div class="inner"></div>
              <input type="button" value="Update" (click)="updateDeposit($event,depositForm)">
            </button>
          </div>

    </form>
</div>




                                <!--Form  For Loan Charges-->






    <div class="container" *ngIf="showTable && selectedOption==='loan'">
      <div class="text">
          Add Record
      </div>
      <form [formGroup]="loanForm" (ngSubmit)="onLoanSubmit(loanForm)">
        <div class="form-row">
          <div class="input-data">
            <input type="varchar" id="pchChrgCode" [readonly]="updateBtn" name="pchChrgCode" formControlName="pchChrgCode" maxlength="3">
            <div class="underline"></div>
            <label for="pchChrgCode">pchChrgCode:</label>
          </div>
          <div class="input-data">
            <input type="varchar" id="porOrgaCode"  formControlName="porOrgaCode" maxlength="10">
            <div class="underline"></div>
            <label for="porOrgaCode">porOrgaCode:</label>
          </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="varchar" id="pchChrgDesc" name="pchChrgDesc" formControlName="pchChrgDesc" maxlength="40">
              <div class="underline"></div>
              <label for="pchChrgDesc">pchChrgDesc:</label>
            </div>
            <div class="input-data">
              <input type="varchar" name="pchChrgShort" formControlName="pchChrgShort" maxlength="20">
              <div class="underline"></div>
              <label for="pchChrgShort">pchChrgShort:</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="varchar" name="pelElmtCode" formControlName="pelElmtCode" maxlength="10">
              <div class="underline"></div>
              <label for="pelElmtCode">pelElmtCode:</label>
            </div>
            <div class="input-data">
              <input type="varchar" name="ptrTranCode" formControlName="ptrTranCode" maxlength="3">
              <div class="underline"></div>
              <label for="ptrTranCode">ptrTranCode:</label>
            </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="tinyint" name="pchChrgInterest" formControlName="pchChrgInterest" maxlength="1">
            <div class="underline"></div>
            <label for="pchChrgInterest">pchChrgInterest:</label>
          </div>
          <div class="input-data">
            <input type="tinyint" name="pchChrgPenalty" formControlName="pchChrgPenalty" maxlength="1">
            <div class="underline"></div>
            <label for="pchChrgPenalty">pch_chrgpenality:</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="tinyint" name="pchChrgPrincipal" formControlName="pchChrgPrincipal" maxlength="1">
            <div class="underline"></div>
            <label for="pchChrgPrincipal">pchChrgPrincipal:</label>
          </div>
          <div class="input-data">
            <input type="tinyint" name="socCharges" formControlName="socCharges" maxlength="1">
            <div class="underline"></div>
            <label for="socCharges">socCharges:</label>
          </div>
        </div>

        <div class="form-row submit-btn">
          <button class="input-data" *ngIf="hideBtn">
             <div class="inner"></div>
             <input type="submit" value="submit" >
          </button>

          <button class="input-data" *ngIf="updateBtn">
            <div class="inner"></div>
            <input type="button" value="Update" (click)="updateLoan($event,loanForm)">
          </button>
        </div>
    </form>
  </div>


                        <!--Table to show all charges-->
  <div class="alltable" *ngIf="chrgTable" >
       <input type="varchar" [(ngModel)]="filterationNumber" (input)="filteration()" placeholder="Enter a chrgcode to search" />
      <table class="table">
        <thead>
          <tr>
            <th>pchChrgCode</th>
            <th>porOrgaCode</th>
            <th>pchChrgDesc</th>
            <th>pchChrgShort</th>
            <th>pelElmtCode</th>
            <th>ptrTranCode</th>
            <th >pchChrgProfit</th>
            <th >pchChrgInterest</th>
            <th >pchChrgPrincipal</th>
            <th >pchChrgPenality</th>
            <th>socCharges</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFilteration; let i = index">
            <td> {{ item.chargesId.pchChrgCode }} </td>
              <td> {{item.chargesId.porOrgaCode }} </td>
            <td> {{ item.pchChrgDesc }} </td>
            <td> {{ item.pchChrgShort }} </td>
            <td> {{ item.pelElmtCode }}  </td>
            <td> {{ item.ptrTranCode }}  </td>
            <td> {{item.pchChrgProfit }} </td>
            <td> {{item.pchChrgProfit }} </td>
            <td >{{item.pchChrgInterest}}</td>
            <td>{{item.pchChrgPrincipal}}</td>
            <td>{{item.pchChrgPenalty}}</td>
            <td> {{ item.socCharges }} </td>

          </tr>
        </tbody>
      </table>
  </div>
</div>
