<div class="background">
  <app-nav-bar></app-nav-bar>
    <div class="card">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio"  name="Deposit" value="deposit" [(ngModel)]="selectedOption">
          <span class="name">Deposit</span>
        </label>
        <label class="radio">
          <input type="radio"  name="Loan" value="loan" [(ngModel)]="selectedOption">
          <span class="name">Loan</span>
        </label>
      </div>
      <div class="btn-container">
        <button class="card-btn" *ngIf="selectedOption" (click)="chargesTable()">
          <span> View  </span>
        </button>
        <button class="card-btn" (click)="populateTable()">
          <span>All Charges</span>
        </button>
      </div>
    </div>




  <div class="table-wrapper" *ngIf="showTable" >
        <input
        type="varchar"
        [(ngModel)]="searchNumber"
        (input)="filterData()"
        placeholder="Enter a chrgcode to search"
      />
    <table class="tableFixHead">
          <thead>
            <tr>
              <th>Select</th>
              <th>pch_chrgcode</th>
              <th>por_orgacode</th>
              <th>pch_chrgdesc</th>
              <th>pch_chrgshort</th>
              <th>pel_elmtcode</th>
              <th>ptr_trancode</th>
              <th *ngIf="selectedOption !== 'loan'">pch_chrgprofit</th>
              <th *ngIf="selectedOption !== 'deposit'">pch_chrginterest</th>
              <th *ngIf="selectedOption !== 'deposit'">pch_chrgprincipal</th>
              <th *ngIf="selectedOption !== 'deposit'">pch_chrgpenality</th>
              <th>soc_charges</th>
              <th>Generate Script</th>
              <th>Update Charge</th>
              <th><i class="fas fa-trash" (click)="delMultipleCharges(selectedRows)"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredData; let i = index">
              <td>
                <input
                  type="checkbox"
                  name="selected{{ item }}"
                  [(ngModel)]="item.selected"
                  (change)="updateSelectedRows(item)"
                />
              </td>
              <td> {{ item.pch_chrgcode }} </td>
              <td> {{item.por_orgacode}} </td>
              <td> {{ item.pch_chrgdesc }} </td>
              <td> {{ item.pch_chrgshort }} </td>
              <td> {{ item.pel_elmtcode }}  </td>
              <td> {{ item.ptr_trancode }}  </td>
              <td *ngIf="selectedOption !== 'loan'"> {{item.pch_chrgprofit }} </td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pch_chrginterest}}</td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pch_chrgprincipal}}</td>
              <td *ngIf="selectedOption !== 'deposit'">{{item.pch_chrgpenalty}}</td>
              <td> {{ item.soc_charges }} </td>
              <td>
                  <i class="fas fa-redo" [disabled]="!item.selected" (click)="genScript(item)"></i>
              </td>
              <td>
                <i class="far fa-edit" [disabled]="!item.selected" (click)="editCharge(item)" >

                </i>
              </td>

              <td><i class="far fa-trash-alt"[disabled]="!item.selected" (click)="delCharge(item)">

              </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>





                        <!--Form for Deposit charges-->



      <div class="container" *ngIf="showTable && selectedOption === 'deposit'">
        <div class="text">
          Add Record
        </div>
        <form [formGroup]="depositForm" (ngSubmit)="onDepositSubmit(depositForm)" >
            <div class="form-row">
              <div class="input-data">
                <input type="varchar" name="pch_chrgcode" [readonly]="updateBtn" formControlName="pch_chrgcode"  maxlength="3" />
                <div class="underline"></div>
                <label for="pch_chrgcode">pch_chrgcode:</label>
              </div>
              <div class="input-data">
                <input type="varchar" name="por_orgacode" formControlName="por_orgacode"  maxlength="10" />
                <div class="underline"></div>
                <label for="por_orgacode">por_orgacode:</label>
              </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                  <input  type="varchar" name="pch_chrgdesc" formControlName="pch_chrgdesc"  maxlength="40" />
                  <div class="underline"></div>
                  <label for="pch_chrgdesc">pch_chrgdesc:</label>
                </div>
                <div class="input-data">
                  <input type="varchar"  name="pch_chrgshort" formControlName="pch_chrgshort"   maxlength="20"  />
                  <div class="underline"></div>
                  <label for="pch_chrgshort">pch_chrgshort:</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                  <input  type="varchar" name="pel_elmtcode" formControlName="pel_elmtcode"   maxlength="10" />
                  <div class="underline"></div>
                  <label for="pel_elmtcode">pel_elmtcode:</label>
                </div>
                <div class="input-data">
                  <input type="varchar" name="ptr_trancode"  formControlName="ptr_trancode"    maxlength="3"/>
                  <div class="underline"></div>
                  <label for="ptr_trancode">ptr_trancode:</label>
                </div>
            </div>
            <div class="form-row">
              <div class="input-data">
                <input type="tinyint" name="pch_chrgprofit" formControlName="pch_chrgprofit"  maxlength="1" />
                <div class="underline"></div>
                <label for="pch_chrgprofit">pch_chrgprofit:</label>
              </div>
              <div class="input-data">
                <input type="tinyint" name="soc_charges"  formControlName="soc_charges"  maxlength="1" />
                <div class="underline"></div>
                <label for="soc_charges">soc_charges:</label>
              </div>
          </div>
          <!-- <div class="form-row">
              <div  class="input-data">
                <input type="url" name="generate{{i}}" [(ngModel)]=".generate" required >
                <div class="underline"></div>
                <label for="generate">generate:</label>
              </div>
          </div> -->
          <div class="form-row submit-btn">
            <button class="input-data" *ngIf="hideBtn">
               <div class="inner"></div>
               <input type="submit" value="submit" >
            </button>

            <button class="input-data" *ngIf="updateBtn">
              <div class="inner"></div>
              <input type="button" value="Update" (click)="updateDeposit($event,depositForm)">
            </button>
          </div>

    </form>
</div>




                                <!--Form  For Loan Charges-->






    <div class="container" *ngIf="showTable && selectedOption==='loan'">
      <div class="text">
          Add Record
      </div>
      <form [formGroup]="loanForm" (ngSubmit)="onLoanSubmit(loanForm)">
        <div class="form-row">
          <div class="input-data">
            <input type="varchar" id="pch_chrgcode" [readonly]="updateBtn" name="pch_chrgcode" formControlName="pch_chrgcode" maxlength="3">
            <div class="underline"></div>
            <label for="pch_chrgcode">pch_chrgcode:</label>
          </div>
          <div class="input-data">
            <input type="varchar" id="por_orgacode"  formControlName="por_orgacode" maxlength="10">
            <div class="underline"></div>
            <label for="por_orgacode">por_orgacode:</label>
          </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="varchar" id="pch_chrgdesc" name="pch_chrgdesc" formControlName="pch_chrgdesc" maxlength="40">
              <div class="underline"></div>
              <label for="pch_chrgdesc">pch_chrgdesc:</label>
            </div>
            <div class="input-data">
              <input type="varchar" name="pch_chrgshort" formControlName="pch_chrgshort" maxlength="20">
              <div class="underline"></div>
              <label for="ptr_trandesc">ptr_trandesc:</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="varchar" name="pel_elmtcode" formControlName="pel_elmtcode" maxlength="10">
              <div class="underline"></div>
              <label for="pel_elmtcode">pel_elmtcode:</label>
            </div>
            <div class="input-data">
              <input type="varchar" name="ptr_trancode" formControlName="ptr_trancode" maxlength="3">
              <div class="underline"></div>
              <label for="ptr_trancode">ptr_trancode:</label>
            </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="tinyint" name="pch_chrginterest" formControlName="pch_chrginterest" maxlength="1">
            <div class="underline"></div>
            <label for="pch_chrginterest">pch_chrginterest:</label>
          </div>
          <div class="input-data">
            <input type="tinyint" name="pch_chrgpenalty" formControlName="pch_chrgpenalty" maxlength="1">
            <div class="underline"></div>
            <label for="pch_chrgpenalty">pch_chrgpenality:</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="tinyint" name="pch_chrgprincipal" formControlName="pch_chrgprincipal" maxlength="1">
            <div class="underline"></div>
            <label for="pch_chrgprincipal">pch_chrgprincipal:</label>
          </div>
          <div class="input-data">
            <input type="tinyint" name="soc_charges" formControlName="soc_charges" maxlength="1">
            <div class="underline"></div>
            <label for="soc_charges">soc_charges:</label>
          </div>
        </div>

        <div class="form-row submit-btn">
          <button class="input-data" *ngIf="hideBtn">
             <div class="inner"></div>
             <input type="submit" value="submit" >
          </button>

          <button class="input-data" *ngIf="updateBtn">
            <div class="inner"></div>
            <input type="button" value="Update" (click)="updateLoan($event,loanForm)">
          </button>
        </div>
    </form>
  </div>


                        <!--Table to show all charges-->
  <div class="alltable" *ngIf="chrgTable" >
       <input type="varchar" [(ngModel)]="filterationNumber" (input)="filteration()" placeholder="Enter a chrgcode to search" />
      <table class="table">
        <thead>
          <tr>
            <th>pch_chrgcode</th>
            <th>por_orgacode</th>
            <th>pch_chrgdesc</th>
            <th>pch_chrgshort</th>
            <th>pel_elmtcode</th>
            <th>ptr_trancode</th>
            <th >pch_chrgprofit</th>
            <th >pch_chrginterest</th>
            <th >pch_chrgprincipal</th>
            <th >pch_chrgpenality</th>
            <th>soc_charges</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFilteration; let i = index">
            <td> {{ item.pch_chrgcode }} </td>
            <td> {{item.por_orgacode}} </td>
            <td> {{ item.pch_chrgdesc }} </td>
            <td> {{ item.pch_chrgshort }} </td>
            <td> {{ item.pel_elmtcode }}  </td>
            <td> {{ item.ptr_trancode }}  </td>
            <td> {{item.pch_chrgprofit }} </td>
            <td> {{item.pch_chrgprofit }} </td>
            <td >{{item.pch_chrginterest}}</td>
            <td>{{item.pch_chrgprincipal}}</td>
            <td>{{item.pch_chrgpenalty}}</td>
            <td> {{ item.soc_charges }} </td>

          </tr>
        </tbody>
      </table>
  </div>
</div>
