.background {
  position: absolute;
  width:100%;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #23074d, #cc5333);
  opacity: 1;
}

.floating-heading {
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: azure;
  padding: 50px 0;
  margin: 0;
}
