.background {
  position: absolute;
  width:100%;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/db.png');
  opacity: 1;
}

.floating-heading {
  font-size: 8em;
  
  text-align: center;
  font-family: cursive;
  color: rgb(4, 38, 61);
  padding: 50px 0;
  margin: 0;
}
