.background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/events_bg.png');
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

.floating-heading {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);

  padding: 50px 0;
  margin: 0;
}
