
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/signup.png');
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

.card {
  align-items: center;
  box-shadow: 5px 5px 5px #507998;
  padding: 40px;
  font-family: sans-serif;
  background: rgb(188, 104, 104);
  border: rgb(221, 221, 235);
  width: 500px;
  top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card form {
  padding: 20px;
  width: 120%;
}

.card label{
  color: white;
  font-size: 24px;
}

.card input {
  font-size: 16px;
  padding: 10px;
  width: 80%;
}

.box {
  margin-top: 5%;
  padding:20px;
  font-family: 'Times New Roman';
  font-size: 20px;
  background: #020d3d;
  border: none;
  border-radius: none;
}

a {
  margin-left: 15%;
  margin-top: 40px;
  color: white;
}

.box h2{
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman';
  text-align: center;
}

#error {
  color: red;
}





.login-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #1b1c3f, #9b59b6);

  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 14px 28px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

.login-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

