<nav>
  <div class="logo-container">
    <a (click)="authService.home()" class="fa fa-home logo"></a>
  </div>
  <ul class="nav-links">
    <li><a (click)="authService.event()"
      >Events</a></li>
    <li><a (click)="authService.transaction()">Transactions</a></li>
    <li><a (click)="authService.charges()">Charges</a></li>
    <li><a (click)="authService.release()">Release</a></li>
    <li><a (click)="authService.conversion()">Converter</a></li>

  </ul>
  <div class="btn">
    <a class="fa fa-sign-out btn" (click)="authService.logout()"></a>
  </div>
</nav>
