nav {
  background-color: #2b5876;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: white;
  font-size: 3vw;
  text-decoration: none;
  cursor: pointer;
  margin-left: 3%;
}

nav .btn {
  color: white;
  font-size: 2.2vw;
  margin-right: 2%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 2.5%;
  justify-content: center;
  flex-grow: 1;
}

nav li {
  margin: 0 1.5%;
}

nav li a {
  color: rgb(247, 242, 242);
  font-size: 1.8vw;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
}

nav li a:hover {
  color: #f1f5f8;
  font-size: 2.8vw;
  font-weight: bold;
}

nav .btn:hover {
  color: red;
  font-size: 3vw;
}
