nav {
  background-color: #2b5876;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}

nav .logo {
  color: white;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;


}
nav .btn{
  color:white;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 30%;
  justify-content: center; /* Added */
  flex-grow: 1;

}

nav li {
  margin: 0 10px;

}



nav li a {
  color: grey;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;

}

nav li a:hover {
  color: #f1f5f8;
  font-size: 22px;
  font-weight: 500;
}

nav .btn:hover{
  color:red;
  font-size:34px;
}
