.background {
  position: relative;
  width:auto;
  min-height: 100vh;
  background-image: url('/assets/trans.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
}

.card {
    margin: 2% auto;
    width:50%;
    border: 2px solid #ccc;
    padding: 30px;
    height: 100%;
    max-width: 500px;
    background-color: #6e8299;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .card h2{
    margin-left: 30%;
  }

 .btn {
    background-color: #000200b4;
    color: white;
    align-items: center;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    cursor: pointer;
    margin: 3%

  }
.btn:hover {
  background-color: #263a0575;
}


.input [type='varchar']{
  display: inline;
  margin-top: 5%;
  margin-left: 80%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
  color:  #12121a;

}


.table-container {
  display: flex;
  margin-top: 2px;
  position: relative;
  justify-content: center;
  align-items: center;

}

table th{
  background-color:cornflowerblue;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;

}
table td{
  padding: 15px;
  margin:auto;
  border-bottom: 1px solid #ddd;
  background-color: #12121a;
  color: #ddd;

}

.form {

  font-family: 'Times New Roman', Times, serif;
  margin: auto auto;
  width:50%;
  /* margin: 20px 20px; */
  border: 2rem;


  }


  .form th {
    padding: 5px;
  }


  .form table tr td {
  padding: 5px;
  }

  .form button[type=submit]{

  background-color:#000200b4 ;
  margin:1% 50%;
  border:5em;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  }

  .form button[type=submit]:hover {background-color: #3e8e41;}


  .form label span {color: red;}








