<div class="background">
  <app-nav-bar></app-nav-bar>
    <div class="card">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio"  name="Deposit" value="deposit" [(ngModel)]="selectedOption">
          <span class="name">Deposit</span>
        </label>
        <label class="radio">
          <input type="radio"  name="Loan" value="loan" [(ngModel)]="selectedOption">
          <span class="name">Loan</span>
        </label>

        <label class="radio">
              <input type="radio"  name="GL" value="generalledger" [(ngModel)]="selectedOption">
          <span class="name">GL</span>
        </label>
      </div>
      <div class="btn-container">
        <button class="card-btn" *ngIf="selectedOption" (click)="transTable()">
          <span> View </span>
        </button>
        <button class="card-btn"  (click)="populateTable()">
          <span>All Data</span>
        </button>
      </div>
    </div>




      <div class="table-wrapper"  *ngIf="showTable">
        <input type="varchar"  [(ngModel)]="searchNumber" (input)="filterData()"  placeholder="Enter a number to search">
       <table class="fl-table" >
          <thead>
            <tr>
              <th>Select</th>
              <th>porOrgaCode</th>
              <th>ptrTranCode</th>
              <th>petEventCode</th>
              <th>ptrTranDesc</th>
              <th>System Generated</th>
              <th>Update Transaction</th>
              <th>Generate Script</th>
              <th><i class="fas fa-trash" (click)="delMultipleTrans(selectedRows)">

              </i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredData">
              <td>
                <input
                  type="checkbox" [(ngModel)]="item.selected"
                  name="selected{{ item }}"
                  (change)="updateSelectedRows(item)"  />
              </td>
              <td>{{ item.porOrgaCode }} </td>


              <td> {{ item.ptrTranCode }} </td>


              <td>{{ item.petEventCode }} </td>


              <td> {{ item.ptrTranDesc }} </td>


              <td>{{ item.systemGenerated }}


              </td>
                 <td>
                <i class="far fa-edit"  [disabled]="!item.selected" (click)="editTrans(item)">

                </i>
              </td>
              <td><i class="fas fa-redo"  [disabled]="!item.selected" (click)="genScript(item)">
                </i></td>

              <td><i class="far fa-trash-alt" [disabled]="!item.selected" (click)="delTrans(item)">
                  </i></td>
            </tr>
          </tbody>
        </table>
      </div>





  <div class="container" *ngIf="showTable">
      <div class="text">
          Add Record
      </div>
      <form [formGroup]="transForm" (ngSubmit)="submitForm(transForm)">
        <div class="form-row">
          <div class="input-data">
            <input type="varchar" id="porOrgaCode" name="porOrgaCode" formControlName="porOrgaCode">
            <div class="underline"></div>
            <label for="porOrgaCode">porOrgaCode:</label>
          </div>
          <div class="input-data">
            <input type="varchar" id="ptrTranCode" [readonly]="updateBtn" formControlName="ptrTranCode">
            <div class="underline"></div>
            <label for="ptrTranCode">ptrTranCode:</label>
          </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="number" id="petEventCode" name="porOrgaCode" formControlName="petEventCode">
              <div class="underline"></div>
              <label for="petEventCode">petEventCode:</label>
            </div>
            <div class="input-data">
              <input type="varchar" name="ptrTranDesc" formControlName="ptrTranDesc">
              <div class="underline"></div>
              <label for="ptrTranDesc">ptrTranDesc:</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="tinyint" name="systemGenerated" formControlName="systemGenerated">
              <div class="underline"></div>
              <label for="systemGenerated">systemGenerated:</label>
            </div>
            <div class="input-data">
            </div>
        </div>

      <div class="form-row submit-btn">
        <button class="input-data" *ngIf="hideBtn">
          <div class="inner"></div>
          <input type="submit" value="submit" >
        </button>
        <button class="input-data" *ngIf="updateBtn">
          <div class="inner"></div>
          <input type="submit" value="Update" (click)="updateTrans($event,transForm)">
      </button>

      </div>
    </form>
  </div>

                                          <!-- Table For All Data -->

  <div class="table-container"  *ngIf="allTransTable">
      <input type="varchar"  [(ngModel)]="filterationNumber" (input)="filteration()"  placeholder="Enter a number to search">
    <table class="table" >
      <thead>
        <tr>
          <th>porOrgaCode</th>
          <th>ptrTranCode</th>
          <th>petEventCode</th>
          <th>ptrTranDesc</th>
          <th>System Generated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataFilteration">
          <td> {{ item.porOrgaCode }}  </td>
          <td>{{ item.ptrTranCode }} </td>
          <td>{{ item.petEventCode }} </td>
          <td>{{ item.ptrTranDesc }} </td>
          <td>{{ item.systemGenerated }} </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

