.background {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Styles for the card containing radio buttons and buttons */
.card {
  margin-top: 3%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


 .radio-inputs {
     display: flex;
     margin-top: 1% ;
     gap: 10px;
    margin-left: 45%;
  }
  .radio {
   display: flex;
  align-items: center;
   }


   .btn-container {
    display: flex;
    margin:1% 43%;
  }


  .btn-wrapper {
    /* flex: 1; */
    margin: 0 5px;
  }

  .card-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
  }

 /* Table wrapper and input for table filtering */
.table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  max-width: 900px;
  margin-bottom: 20px;
  margin-top: 2%;
  margin-left:auto;
  margin-right: auto;
}

.table-wrapper input[type="varchar"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 400px;

}

/* Responsive table styles */
.tableFixHead {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tableFixHead thead th {
  position: sticky;
  top: 0px;
  width: fit-content;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #2b5876;
}

/* Container for forms */
.container {
  margin-top: 2%;
  text-align: center;
  background-color: #ffffff;
}
h2{
  color:darkslategray;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust this value to control the space between fields */
  margin-bottom: 10px; /* Add margin between rows of input fields */
}

.input-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}


input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box; /* Ensure input width includes padding and border */
}

/* Optional: Add underline style for input fields */
.underline {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #999;
}


/* Table to show all charges */
.alltable {
  margin:5% auto;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  max-width: 1300px;
  background-color:#ffffff ;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Responsive styles for radio buttons */
@media (max-width: 768px) {
  .radio-inputs {
    flex-direction: column;
  }
}

.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.popup-form label {
  font-weight: bold;
}

