<div class="background">
  <app-nav-bar></app-nav-bar>
  <div class="card">
    <h2>Upload Your Files</h2>
    <div class="file-upload">
      <label class="box" for="file-upload">
        <input id="file-upload" type="file" (change)="onFilesSelected($event)" accept=".xlsx, .json" multiple>
        <span class="box-text">Click/Drop Files to upload</span>
      </label>
    </div>
  </div>

  <div class="table-wrapper" *ngIf="tableHeaders.length > 0">
    <div *ngFor="let pageIndex of getPageIndices()">
      <div class="page" *ngIf="tableData[pageIndex]">
        <h3>{{ files[pageIndex]?.name }}</h3>
        <table class="tableFixHead">
          <thead>
            <tr>
              <th *ngFor="let header of tableHeaders">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData[pageIndex]">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="files.length > 1">
    <button class="pagination-btn" *ngFor="let file of files; let i = index" (click)="goToPage(i)" [class.active]="i === currentPageIndex">
      {{ i + 1 }} - {{ file.name }}
    </button>
  </div>

  <div class="actions" *ngIf="tableHeaders.length > 0">
    <div class="btn-container">
      <div class="btn-wrapper">
        <button class="save-btn" (click)="saveAsExcel()">Save as Excel</button>
      </div>
      <div class="btn-wrapper">
        <button class="save-btn" (click)="saveAsJSON()">Save as JSON</button>
      </div>
    </div>
  </div>
</div>
